/* define the background image of the buttons (image have to be 30x30px) */

#adc_{%= CurrentADC.InstanceId %} .likeIMG {
    background-image: url("{%= CurrentADC.URLTo("static/flat-smiley-adc-happy-plus.png") %}");
        }

#adc_{%= CurrentADC.InstanceId %} .dislikeIMG {
    background-image: url("{%= CurrentADC.URLTo("static/flat-smiley-adc-unhappy-plus.png") %}");
        }

#adc_{%= CurrentADC.InstanceId %} .neutralIMG {
    background-image: url("{%= CurrentADC.URLTo("static/flat-smiley-adc-medium.png") %}");
        }

#adc_{%= CurrentADC.InstanceId %} .removeIMG {
    background-image: url("{%= CurrentADC.URLTo("static/bin.png") %}");
        }


/* smooth transition when changing the background color of the text */

#adc_{%= CurrentADC.InstanceId %} .inputText span {
    transition: background-color 0.2s;
    color: rgb({%= CurrentADC.PropValue("fontColor")%});
}

#adc_{%= CurrentADC.InstanceId %} .inputText {
    font-size: {%= Theme.NormalFS %};
    line-height: {%= Theme.LineHeight %};
    border: 1px solid {%= Theme.NeutralDarkColor.ToHexa() %};
    padding: 10px;
    color: rgb({%= CurrentADC.PropValue("fontColor")%});
    background-color : rgb({%= CurrentADC.PropValue("bgColor")%});
}

/* define the background color of the buttons and the clicked spans */

#adc_{%= CurrentADC.InstanceId %} .like {
    background-color: rgb({%= CurrentADC.PropValue("likeColor") %});
}

#adc_{%= CurrentADC.InstanceId %} .dislike {
    background-color: rgb({%= CurrentADC.PropValue("dislikeColor") %});
}

#adc_{%= CurrentADC.InstanceId %} .neutral {
    background-color: rgb({%= CurrentADC.PropValue("neutralColor") %});
}

#adc_{%= CurrentADC.InstanceId %} .sentence{
    background-color: rgb({%= CurrentADC.PropValue("sentenceColor") %});
}

#adc_{%= CurrentADC.InstanceId %} .clicked{
    background-color: rgb({%= CurrentADC.PropValue("clickedColor") %});
}

/* text's background color when mouseover */
#adc_{%= CurrentADC.InstanceId %} .inputText .sentence:hover {
    background-color: rgb({%= CurrentADC.PropValue("hoverColor") %});
}